@use '../base.scss';

$green: #20b142;
$dark: #333;

.PersonalCrafting {
  &__mode-button {
    border: 2px solid $dark;
    transition: border-color 0.15s ease;

    &--active {
      border-color: $green !important;
    }
  }

  &__search {
    width: 100%;
  }
}

.PersonalCraftingCategory {
  &__icon {
    width: 16px;
    text-align: center;
  }
}
